.stackContainer {
  display: flex;
  flex: 1;
  border: 2px solid black;
  width: 90%;
  max-width: 600px;
  aspect-ratio: 1/1;
  height: ;
  margin: auto;
  flex-direction: column-reverse;
}
.items {
  margin: 0 auto 0 auto;
  border: 1px solid grey;
}
