.stackContainer {
  display: flex;
  flex: 1;

  width: 90%;
  max-width: 600px;
  min-height: 100px;
  position: relative;
  margin: 20% auto 0 auto;
  flex-direction: column-reverse;
}
.items {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;

  margin: 0 auto 0 auto;
}

.items img {
  width: 40%;
  margin: auto;
  min-width: 188px;
}
.items .imgContainer {
  display: flex;
  flex: 1;
  align-items: center;
}
.items .habitTitle {
  position: absolute;
  text-align: left;
  left: 70%;
  width: 30%;
  opacity: 0;
}
.items:hover .habitTitle {
  opacity: 0;
}
.bread {
  position: absolute;
  bottom: 0;
}
.topbread {
  position: absolute;
}
