.stackContainer {
  display: flex;
  border: 2px solid black;
  min-height: 100px;
  width: 50%;
  margin: auto;
  flex-direction: column-reverse;
}
.items {
  margin: 0 auto 0 auto;
  border: 1px solid grey;
}
